a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}


.navbar-right {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-right: 1rem;

}


.from-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.login-from {

    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 78px;
    border: 3px solid paleturquoise;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.login-from input,
label {
    margin-top: 6px;
    padding-left: 10px;
    font-size: 18px;

}

.login-from input[type="submit"] {
    background-color: goldenrod;
    border: 0;
    padding: 3px;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-from input:focus {
    background-color: rgb(194, 116, 116);
    color: white;

}